@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

body {
    font-family: sans-serif, 'Noto Color Emoji';
    font-size: 20px;
    line-height: 1.6;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.buttons {
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    button, select {
        width: 745px;
        display: block;
    }
}

button, select {
    font-size: 18px;
    font-family: sans-serif, 'Noto Color Emoji';
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: 2px;
    background-color: #f0f8ffd3;
    padding: 18px 0;
    margin: 6px auto;
    box-shadow: 5px 5px 0 #00000022;
    transition: .15s;
}

button:hover, select:hover {
    box-shadow: none;
}

ul {
    margin-bottom: 8px;
}

.block {
    margin: auto;
    padding: 8px 16px;
    background-color: #f0f8ff80;
    border-radius: 5px;
}

div.block {
    white-space: pre-wrap;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;  
}

.icon {
    height: 200px;
    border: 6px solid #5221da;
    border-radius: 200px;
    margin: auto;
    margin-top: 32px;
    display: block;
}

main {
    background-color: #f0f8ffaf;
    border-radius: 5px;
    margin: auto;
    padding: 16px;
    max-width: 750px;
    height: 100%;
}

h1, .center {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    main {
        color: white;
        background-color: #00000080;
    }

    .block {
        background-color: #00000080;
    }

    button, select {
        color: white;
        background-color: #000000d3;
    }
}