@media (prefers-color-scheme: dark) {
    main {
        color: white;
        background-color: #00000080;
    }

    .block {
        background-color: #00000080;
    }

    button, select, a.button {
        color: white;
        background-color: #5f34b6d3;
    }
}