button, select, a.button {
    font-size: 20px;
    font-family: sans-serif, 'Noto Color Emoji';
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: 2px;
    background-color: #f0f8ffd3;
    padding: 6px 8px;
    margin: 4px;
    box-shadow: 5px 5px 0 #00000022;
    transition: .15s;
}

button:hover, select:hover, a.button:hover {
    box-shadow: none;
}

a.button {
    text-decoration: none;
}

.block {
    margin: auto;
    padding: 8px 16px;
    background-color: #f0f8ff80;
    border-radius: 5px;
}

div.block {
    white-space: pre-wrap;
}

.icon {
    height: 200px;
    border: 6px solid #5221da;
    border-radius: 200px;
    margin: auto;
    margin-top: 32px;
    display: block;
}

#content {
    img {
        display: block;
        margin: auto;
        margin-top: 24px;
        max-width: 60%;
        border-radius: 15px;
    }
    h2, h3, h4 {
        text-align: center;
    }
    blockquote:before {
        content: '|';
        position: absolute;
        font-size: 32px;
        translate: -32px -12px;
        opacity: 0.5;
    }
}